/**************************************************************************************************/
/**************************************    Install Font   *****************************************/
/**************************************************************************************************/
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('../font/static/Inter-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../font/static/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../font/static/Inter-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../font/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../font/static/Inter-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../font/static/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../font/static/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../font/static/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../font/static/Inter-Black.ttf') format('truetype');
}

/**************************************************************************************************/
/**************************************    Global Style  ******************************************/
/**************************************************************************************************/

body {
    font-family: "Inter", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
button,
input,
textarea,
p,
strong,
sub,
sup {
    font-family: "Inter", sans-serif !important;
}

.header-logo img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.header-nav-feature .header-nav-features-toggle i {
    font-size: 17px !important;
}

.main .owl-item h1 {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main .owl-item .header-btn a {
    padding: 12px 15px;
}

.main .owl-dots .owl-dot {
    border: 1px solid #FFF;
    width: 18px;
    height: 18px;
    line-height: 15px;
    border-radius: 50%;
    margin: 3px;

}

.main .owl-dots .owl-dot span {
    text-align: center;
    margin-top: 4px;
    margin-left: 4px;
}



.custom-shape-divider-top-1709917662 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    position: relative;
    z-index: 999;
    margin-top: -90px;
}

.custom-shape-divider-top-1709917662 svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 46px;
}

.custom-shape-divider-top-1709917662 .shape-fill {
    fill: #FFFFFF;
}

.section .small-title {
    font-size: 21px !important;
    font-weight: 600 !important;
    color: #212529c2 !important;
    line-height: 35px;
    margin-top: 15px;

}

.bg-grey {
    background: #f9f9f9 !important;
}

.section.finding .links img {
    object-fit: contain;
}

.section.finding .links h4 {
    color: #212529c2 !important;
    font-weight: 500 !important;
    font-size: 18px !important;
}

.section.finding .links .card {
    border: 1px solid #dddddd6b !important;
}

#header .header-top {
    background: #e02b20;
    color: #FFF;
    height: 35px !important;
    min-height: 35px !important;
}

.custom-bg-grey-1 {
    position: relative;
    margin-top: 110px;
    margin-bottom: 30px;
    background: #393f44 !important;

}

.custom-page-header-1 {
    padding: 0 7vw !important;
}

.page-header {
    margin-bottom: 70px !important;
}

.custom-page-header-1.page-header .container:before {
    height: 0 !important;
}

.custom-page-header-1.page-header h1 {
    letter-spacing: 1px !important;
}

.custom-page-header-1.page-header p {
    color: #FFF;
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    line-height: 40px;
}

.social .nav .nav-item a {
    margin: 0 10px;
    background: #393f44;
    color: #FFF !important;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.footer-social .nav .nav-item a {
    margin: 10px 11px;
    border: 1px solid #FFF;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.footer-links p::before {
    content: "\f35a";
    /* Unicode for right arrow */
    font-family: "FontAwesome";
    /* Replace "Font Awesome" with your arrow font */
    margin-right: 5px;
    /* Adjust spacing between the arrow and text */
}

.footer-links p:hover::before {
    color: #FFF;
    /* Color of the arrow icon on hover */
}

#footer .map {
    width: 100%;
    height: 200px;
}

#footer .map iframe {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

#footer .footer-copyright p {
    color: #FFF;
}

#header .header-nav-features .header-nav-features-cart .header-nav-features-dropdown {
    padding: 5px;
    min-width: 120px;
}

#header .header-nav-features .header-nav-features-cart .header-nav-features-dropdown ul {
    padding: 0;
    margin: 0;
}

#header .header-nav-features .header-nav-features-cart .header-nav-features-dropdown li {
    list-style: none;
}

#header .header-nav-features .header-nav-features-cart .header-nav-features-dropdown li a {
    text-decoration: none;
    padding: 2px 10px;
    width: 100%;
    display: block;
    color: #393f44;
}

#header .header-nav-features .header-nav-features-cart .header-nav-features-dropdown li a:hover {
    background: #dddddd6b;
}

#header .header-nav-features .header-nav-features-dropdown {
    margin-top: 40px !important;
}

#header .header-nav.header-nav-links nav>ul:not(:hover)>li>a.active {
    color: #e36159;
}

#header .header-nav.header-nav-links nav>ul li:hover>a {
    color: #e36159;
}

.about-image {
    width: 340px;
    height: 340px;
    object-fit: cover;
}

.about-image.apply-image {
    width: 370px;
    height: 600px;
    object-fit: cover;
}

@media (max-width: 570px) {
    .about-image {
        width: 225px;
        height: 225px;
    }
    .about-image.apply-image {
        width: 300px;
        height: 300px;
    }
    .custom-page-header-1.page-header p {
        font-size: 17px;
        line-height: 32px;
    }
    .image-section.apply-image{
        height: 310px !important; 
    }
}


@media (max-width: 400px) {
    .about-image {
        width: 165px;
        height: 165px;
    }
    .about-image.apply-image {
        width: 220px;
        height: 220px;
    }
    .image-section.apply-image{
        height: 310px !important; 
    }
}




@media (max-width: 992px) {
    .funded-program {
        flex-direction: column-reverse;
    }

    .funded-program .image-section {
        margin: 15px 0;  
    }
    #header .header-nav-features .header-nav-features-dropdown.show {
        top: 0px;
    }
}





/**************************************************************************************************/
/***************************************    Application  ******************************************/
/**************************************************************************************************/


.application .application-form h2 {
    color: #393f44;
    font-weight: 700;
    margin: 0;
}

.application .application-form p {
    color: #7d8c9c;
    margin-bottom: 20px;
}

.application .image-sec img {
    height: 1200px;
    object-fit: cover;
}

.application .application-form input {
    height: 45px;
    border: 1px solid #eaecef;

}

.application .application-form textarea {
    height: 110px;
    border: 1px solid #eaecef;
}

.application .application-form input::placeholder,
.application .application-form textarea::placeholder {
    color: #7f8f9f;
}

.application .select2.select2-container.select2-container--default.select2-container--open .select2-selection--single {
    border: 1px solid #e02b20;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #e02b20 !important;
}

.application .application-form input:focus {
    outline: 0;
    box-shadow: none;
}

.select2-container.select2-container--default.select2-container--open .select2-search__field:focus-visible {
    outline: 0 !important;
}

.application .application-form textarea:focus {
    outline: 0;
    box-shadow: none;
}

.application .application-form input:focus {
    border: 1px solid #e02b20;
}

.application .application-form textarea:focus {
    border: 1px solid #e02b20;
}

.application .application-form button {
    width: 100%;
}

.application .application-form button:focus {
    outline: 0;
    box-shadow: none;
}

.application .et_pb_contact_form_label {
    display: block;
    color: #8c9095;
    font-size: 12px;
    padding: 5px;
    width: 75%;
}

.application input[id="et_pb_contact_brand_file_request_0"] {
    display: none;
}

.application .upload-file {
    border: 1px solid #eaecef;
    background: #FFF;
    margin-bottom: 30px;
    position: relative;
}

.application label[for="et_pb_contact_brand_file_request_0"]:before {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #202020;
    font-weight: 400;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.application label[for="et_pb_contact_brand_file_request_0"]:after {
    display: block;
    content: 'Upload';
    background: #e02b20;
    width: 85px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 50%;
    font-size: 14px;
    color: white;
    font-weight: 500;
    right: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
    transform: translateY(-50%);
}

.application label[for="et_pb_contact_brand_request_0"]:after {
    content: " (Provide link or Upload files if you already have guidelines)";
    font-size: 12px;
    letter-spacing: -0.31px;
    color: #7a7a7a;
    font-weight: normal;
}

.application label[for="et_pb_contact_design_request_0"]:after {
    content: " (Provide link or Upload design files)";
    font-size: 12px;
    letter-spacing: -0.31px;
    color: #7a7a7a;
    font-weight: normal;
}


.application .file_names {
    display: block;
    position: absolute;
    color: black;
    bottom: -20px;
    font-size: 12px;
    font-weight: 400;
}

.application .file_names {
    text-align: center;
}

.application .select2-container--default .select2-selection--single {
    height: 45px;
    border: 1px solid #eaecef;
}

.application .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
    color: #7f8f9f;
}

.application .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
}

.application .select-date label {
    position: absolute;
    background: #FFF;
    height: 45px;
    border: 1px solid #eaecef;
    padding: 9px 7px;
    color: #7f8f9f;
    border-right: 0;
    border-radius: 5px 0 0 5px;
}


@media screen and (max-width:450px) {


    .application .et_pb_contact_form_label{
        width: 65%;
    }
}

@media screen and (max-width:330px) {


    .application .et_pb_contact_form_label{
        width: 50%;
    }
}